<%- include ('../parts/header')%>




<div class="container  mt-3">
        
      
<h1 class="text-center">Registrar usuario</h1>
<a href="/admin/users" class="btn btn-primary">Regresar a ver todos los usuarios</a>
<br>

<form class= "row -4" method="post" action="/admin/users/addUser">

    <div class="col-6">
        <div class="form-group mt-3">
            <label class="fw-bold">Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder="Nombre">
        </div>
    </div>

    <div class="col-6">
        <div class="form-group mt-3">
            <label class="fw-bold">Apellido</label>
            <input type="text" name="apellido" class="form-control" placeholder="Apellido">
        </div>
    </div>

    <div class="col-6">
        <div class="form-group mt-3">
            <label class="fw-bold">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
    </div>
    
    <div class="col-6">
        <div class="form-group mt-3">
            <label class="fw-bold">Usuario</label>
            <input type="text" name="usuario" class="form-control" placeholder="Usuario">
        </div>
    </div>

    <div class="form-group mt-3">
        <label class="fw-bold">Contrase単a</label>
        <input type="password" name="password" class="form-control"  placeholder="contrase単a">
    </div>
    
    <div class="form-group mt-3">
        <label class="fw-bold">Confirma la contrase単a</label>
        <input type="password" name="password2" class="form-control"  placeholder="Confirmar contrase単a">
    </div>

    <div class="form-group mt-3">
        <label for="" class="fw-bold">Tipo de usuario</label>
        <select name="tipo" class="form-control">
           <option value="1">Administrador</option>
           <option value="0">Normal</option>
        </select>
    </div>

    <div class="col-1">
    <button type="submit" class="btn btn-primary mt-3">Registrar</button>
    </div>
</form>
  
      </div>
       



        
  










<!-- BOOTSTRAP 5 JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


</body>
</html>