<%- include ('../parts/header')%>



<div class="container mt-3">
    <h2 class="page-title text-center">CMS</h2>
<br>

<div class="row">
    <div class="col-4" >
    </div>
   
   

    <div class="col"   >
      <div class="card ">
        <img class="card-img-top p-2" src="/img/cmsusuarios.png " alt="Card image cap">
        <div class="card-body">
            <a href="/admin/users" style="width: 100%" class="btn btn-primary stretched-link fs-5">Usuarios</a>
        </div>
      </div>
    </div>

    <div class="col"    >
      <div class="card">
        <img class="card-img-top p-2" src="/img/skills.png " alt="Card image cap">
        <div class="card-body" >
            <a href="/admin/skills" style="width: 100%" class="btn btn-primary stretched-link fs-5">Habilidades</a>
        </div>
      </div>
    </div>
 
    <div class="col-4"  >
    </div>
 
    
  
</div>


</div>





<!-- BOOTSTRAP 5 JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


</body>
</html>